nohup.out
*.[oa]
*.ex
*~
chk?????
plt?????
d/
f/
o/
chk?????.old*
plt?????.old*
*Backtrace*
Exec/run2d/Snew_D*
Exec/run2d/Snew_H*
Exec/run2d/Snew_onegrid_D*
Exec/run2d/Snew_onegrid_H*
Exec/run2d/tmp_build_dir/
*.pt
*coarse_truth*
plotsHR
plotsLR
plotfiles
truth
*.zip
*.ipynb
baselineHR
*chk*
